body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.freepik.com/premium-photo/smoke-abstract-background-light-pastel-colors_89245-89.jpg?w=2000);
    background-attachment: fixed;
    background-blend-mode: darken;
    padding: 5px;
    margin-left: 20px;
    margin-right: 10px;
    
}    

.logo{
    color: black;
    font-size: xx-large;
    line-height: 80px;

    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    
}
.navlist{
    padding-top: 50px;
    padding-right: 30px;
}

a{
    float: right;
    text-decoration:none;
    padding: 15px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    color: black;


}
a:hover{
    background-color: rgb(209, 251, 248);
    color:rgb(52, 23, 214);
}
.active{
    color: rgb(247, 23, 7);
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
p.p1{
    font-weight: bold;
}
div.pagination{
    margin-left: 450px;
    margin-top: 300px;
    margin-bottom: 50px;
}

div.pagination a{
    float: none;
    text-align: center;
    border: 1px solid;
    border-color: black ;
    margin-left: 10px;
    font-size: small;
}